:root {
  --hide-color: rgba(0, 0, 0, 0.274);
  --accent-color: #26a69a;
  --main-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

/* Header styles */

.header__wrapper {
  display: flex;
  justify-content: right;
}

.userName {
  margin-right: 20px;

  color: var(--main-color);
  font-size: 22px;
}

/* Form styles */

.forms {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.formAuth.open {
  display: block;
}

.formAuth {
  display: none;

  min-height: 370px;
  padding: 30px;

  text-align: end;

  border-radius: 15px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--shadow-color);
}

form .row {
  margin-bottom: 0;
}

.backgroundDrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-color: var(--hide-color);
}

.backgroundDrop.open {
  display: block;
}

/* Buttons styles */

button.loginBtn,
button.logoutBtn {
  /* buttons should be unavailable when opening forms */
  z-index: 0;
}

.buttons {
  display: flex;
  justify-content: space-evenly;

  margin-top: 20px;
}

.btn.btnCancel,
.btn.loginBtn,
.btn.logoutBtn {
  border: 1px solid var(--accent-color);

  background-color: var(--main-color);
  color: var(--accent-color);
}

.btn.btnCancel:hover,
.btn.loginBtn:hover,
.btn.logoutBtn:hover {
  color: var(--main-color);
}
