:host {
  display: block;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-wrapper * + *{
  margin-left: 20px;
}
