.form-film {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #424242;
}
.form-film__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--font-color);
  padding-top: 25px;
  width: 600px;
}
