<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-wrapper container">
      <span routerLink="/">SW-FILMS</span>
      <div class="user-menu">
        <div *ngIf="user$ | async as user; else linksAuthorization">
          {{ user.email }}
          <button type="button" mat-raised-button (click)="signOut()">
            Sign out
          </button>
        </div>
      </div>
      <ng-template #linksAuthorization>
        <button type="button" mat-raised-button (click)="openDialogSignIn()">
          Sign In
        </button>
        <button type="button" mat-raised-button (click)="openDialogSignUp()">
          Sign Up
        </button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
