<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header-wrapper container">
      <a routerLink="/" class="logo-link">SW-FILMS</a>
      <div class="user-menu">
        <div *ngIf="user$ | async as user; else linksAuthorization">
          {{ user.email }}
          <button
            type="button"
            class="button-menu"
            mat-raised-button
            (click)="signOut()"
          >
            Sign out
          </button>
        </div>
      </div>
      <ng-template #linksAuthorization class="user-menu">
        <button
          type="button"
          class="button-menu"
          mat-raised-button
          (click)="openDialogSignIn()"
        >
          Sign In
        </button>
        <button
          type="button"
          class="button-menu"
          mat-raised-button
          (click)="openDialogSignUp()"
        >
          Sign Up
        </button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
