<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="">SW-FILMS</span>
    <div class="header-wrapper">
      <div *ngIf="user$ | async as user; else linksAuthorization">
        {{ user.displayName }}
        <button mat-raised-button (click)="signOut()">Sign out</button>
      </div>
      <ng-template #linksAuthorization>
        <button mat-raised-button (click)="openDialogSignIn()">Sign In</button>
        <button mat-raised-button (click)="openDialogSignUp()">Sign Up</button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
