:host {
  display: block;
}

.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.user-menu {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
