<sw-header></sw-header>
<div class="catalog">
  <div class="container">
    <table mat-table class="mat-elevation-z8 demo-table" [dataSource]="films$">
      <mat-text-column name="title"></mat-text-column>
      <mat-text-column name="director"></mat-text-column>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created</th>
        <td mat-cell *matCellDef="let film">
          {{ film.created | date: "d.LL.YYYY" }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [length]="length | async"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      aria-label="Select page"
      (page)="changePaginationOptions($event)"
    >
    </mat-paginator>
  </div>
</div>
