<sw-main-page></sw-main-page>
<div class="container">
  <mat-form-field appearance="fill" class="search-input">
    <mat-label>Search film</mat-label>
    <input matInput type="text" #searchInput>
  </mat-form-field>
  <table
    mat-table
    class="mat-elevation-z8 demo-table"
    [dataSource]="films$"
    matSort
    (matSortChange)="changeSortOptions($event)"
    [trackBy]="trackByFn"
  >
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef='' mat-sort-header="title">Title</th>
        <td mat-cell *matCellDef="let film">
          {{ film.title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="director">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="director">
          Director
        </th>
        <td mat-cell *matCellDef="let film">
          {{ film.director }}
        </td>
      </ng-container>
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="created">
          Created
        </th>
        <td mat-cell *matCellDef="let film">
          {{ film.created | date: "d.LL.YYYY" }}
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let film; columns: displayedColumns" [routerLink]="'/' + film.id"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="length | async"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    (page)="changePaginationOptions($event)"
  >
  </mat-paginator>
</div>
