:host {
  display: block;
}

.table-film {
  width: 100%;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background-color: #8f858521;
}

.search-input {
  background-color: rgb(0 0 0 / 0.46);
  width: 100%;
}
