mat-card {
  max-width: 300px;
  margin: 50px auto;
}
mat-card-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.button-row{
  cursor: pointer;
}

.form-error {
  text-align: center;
  margin-bottom: 20px;
}
