mat-dialog-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.button-row{
  cursor: pointer;
}

.form-error {
  text-align: center;
  margin-bottom: 20px;
}
