/* Buttons styles */

button.login-button,
button.logout-button {
  /* buttons should be unavailable when opening forms */
  z-index: 0;
}

.buttons {
  display: flex;
  justify-content: space-evenly;

  margin-top: 20px;
}

.btn.btn-cancel,
.btn.login-button,
.btn.logout-button {
  border: 1px solid var(--accent-color);

  background-color: var(--main-color);
  color: var(--accent-color);
}

.btn.btn-cancel:hover,
.btn.login-button:hover,
.btn.logout-button:hover {
  color: var(--main-color);
}
