:host {
  display: block;
}

:root {
  --hide-color: rgba(0, 0, 0, 0.27);
  --accent-color: #26a69a;
  --main-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --error-color: red;
  --border-radius: 15px;
}

.header-wrapper {
  display: flex;
  justify-content: right;
}

.user-name {
  margin-right: 20px;

  color: var(--main-color);
  font-size: 1.5rem;
}
