<sw-main-page></sw-main-page>
<div class="container">
  <table *ngIf="film$ | async as film">
    <tr>
      <td>Title</td>
      <td>{{ film.title }}</td>
    </tr>
    <tr>
      <td>Opening crawl</td>
      <td>{{ film.openingCrawl }}</td>
    </tr>
    <tr>
      <td>Episode number</td>
      <td>{{ film.episodeId }}</td>
    </tr>
    <tr>
      <td>Planets</td>
      <td *ngIf="planetNames$ | async | slice: 0 as planetNames">
        {{ planetNames }}
      </td>
    </tr>
    <tr>
      <td>Characters</td>
      <td *ngIf="peopleNames$ | async | slice: 0 as peopleNames">
        {{ peopleNames }}
      </td>
    </tr>
    <tfoot class="table-detail-footer">
      <button mat-fab color="primary" routerLink='/create'>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-fab color="primary" routerLink="/edit" [queryParams]="{id:film.id}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab color="primary" (click)="onClick()">
        <mat-icon>delete</mat-icon>
      </button>
    </tfoot>
  </table>
</div>
<router-outlet></router-outlet>
