<sw-main-page></sw-main-page>
<div class="container">
  <table
    *ngIf="film$ | async as film"
    aria-label="film-details"
    class="table-details"
  >
    <tr>
      <th>Title</th>
      <td>{{ film.title }}</td>
    </tr>
    <tr>
      <th>Opening crawl</th>
      <td>{{ film.openingCrawl }}</td>
    </tr>
    <tr>
      <th>Episode number</th>
      <td>{{ film.episodeId }}</td>
    </tr>
    <tr>
      <th>Planets</th>
      <td *ngIf="planetNames$ | async | slice: 0 as planetNames">
        {{ planetNames }}
      </td>
    </tr>
    <tr>
      <th>Characters</th>
      <td *ngIf="peopleNames$ | async | slice: 0 as peopleNames">
        {{ peopleNames }}
      </td>
    </tr>
  </table>
</div>
