<sw-main-page></sw-main-page>
<div class="container">
  <table *ngIf="film$ | async as film;" aria-label="Films information" class="table-details">
    <tr>
      <th>Film details</th>
    </tr>
    <tr>
      <td>Title</td>
      <td>{{ film.title }}</td>
    </tr>
    <tr>
      <td>Opening crawl</td>
      <td>{{ film.openingCrawl }}</td>
    </tr>
    <tr>
      <td>Episode number</td>
      <td>{{ film.episodeId }}</td>
    </tr>
    <tr>
      <td>Planets</td>
      <td *ngIf="planetNames$ | async as planetNames">
        {{ planetNames }}
      </td>
    </tr>
    <tr>
      <td>Characters</td>
      <td *ngIf="peopleNames$ | async as peopleNames">
        {{ peopleNames }}
      </td>
    </tr>
  </table>
</div>
